{% extends "ai/base.html" %}
{% block title %}History{% endblock %}
{% block history %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="text-center">Result</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <th scope="row" class="align-middle">{{ image.name }}</th>
                <td class="align-middle"><img src="{{ image.image.url }}" class="img-fluid"
                                              style="width:200px;height:200px;"></td>
                <td class="align-middle">{{ image.result }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}