<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
{% load static %}
{% load crispy_forms_tags %}
{%  block heading %} {% endblock heading %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2 text-xl-center font-weight-bold display-3 bg-dark text-white">E.D.I.T.H</h1>
          <hr class="mt-0 mb-4">
{% block show %}
	<ul>
		{% for image in images %}
			<li>
				<h3>{{ image.name }}</h3>
				<img src="{{ image.image.url }}  "style="width:500px;high:500px;" alt="">
			</li>
 		{% endfor %}
	</ul>
{% endblock show %}
{% block content %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
        {{ form|crispy }}
		<button type="submit" class="btn btn-success" >Upload</button>
        <a href="{% url 'ai:display_history' %}" class="btn btn-success" role="button" aria-pressed="true">History</a>
        <a href="{% url 'ai:homepage' %}" class="btn btn-success" role="button" aria-pressed="true">Home</a>
	</form>
{% endblock content %}
        </div>
      </div>
     </div>
</html>