{% extends "base.html" %}
% load static %}
<!-- {% block title %}Upload{% endblock %} -->
{% load crispy_forms_tags %}
{% block show %}
    <ul>
        <li>
            <h3>{{ image.name }}</h3>
            <img src="{{ image.image.url }}" style="width:200px;height:200px;" alt="">
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
{% endblock %}