<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E.D.I.T.H</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
<div class="navbar navbar-fixed-top navbar-home" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >
        E.D.I.T.H
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'ai:upload_file' %}">Classify Pets</a></li>
        <li><a href="{% url 'ai:display_history' %}">History</a></li>
      </ul>
    </div>
  </div>
</div>
{% block heading %}
  <div class="heading">
    <h1 class="title-text text-center">{% block title %}{% endblock %}</h1>
  </div>
{% endblock %}
{% block page %}
      {% block body %}
          {% block show %} {% endblock show %}
          {% block content %}
          {% endblock content %}
      {% endblock body %}
{% endblock %}
{%block history %} {% endblock history %}
<script type="text/javascript" src="/static/CACHE/js/72dcf6a5d708.js"></script>
</body>
</html>